{{if ads && ads.length > 0}}
<div class="top-ad-banner" id="topAdBanner">
    <a href="" target="_blank" rel="nofollow noopener" title="" id="topAdLink">
        <img src="" alt="" id="topAdImg" />
    </a>
</div>

<style>
.top-ad-banner {
    width: 100%;
    max-width: 1500px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 0;
}
.top-ad-banner a {
    display: block;
}
.top-ad-banner img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0;
    padding: 0;
}
</style>

<script>
(function() {
    var ads = [{{each ads}}{"title":"{{$value.title}}","img":"{{$value.img}}","link":"{{$value.link}}"}{{if $index < ads.length - 1}},{{/if}}{{/each}}];
    if (ads.length > 0) {
        var ad = ads[Math.floor(Math.random() * ads.length)];
        var link = document.getElementById('topAdLink');
        var img = document.getElementById('topAdImg');
        if (link && img) {
            link.href = ad.link || '#';
            link.title = ad.title || '';
            img.src = ad.img || '';
            img.alt = ad.title || '广告';
        }
    }
})();
</script>
{{/if}}
