<header class="header-wrap" id="headerWrap">
    <div class="header-top">
        <div class="header flex align-center justify-between pt-5 pb-5">
            <h1 class="logo" title="{{site.name}}">
                <a href="/" class="c-fff">{{site.name}}</a>
            </h1>
            {{include './search.html'}}
            <div class="ico-open" id="menuBtn" title="菜单"></div>
        </div>
    </div>
    <div class="header-nav">
        <div class="w-1280 center">
            {{include './nav.html'}}
        </div>
    </div>
</header>

<script>
(function() {
    var header = document.getElementById('headerWrap');
    var lastY = 0;
    var hidden = false;

    window.addEventListener('scroll', function() {
        var y = window.scrollY;
        var delta = y - lastY;

        if (delta > 5 && y > 100 && !hidden) {
            header.classList.add('header-collapsed');
            hidden = true;
        } else if (delta < -5 && hidden) {
            header.classList.remove('header-collapsed');
            hidden = false;
        }

        lastY = y;
    });
})();
</script>

{{include './ad-banner.html'}}
