<script src="{{static_url}}js/jweixin-1.6.0.js"></script>
<script src="{{static_url}}js/main.js"></script>
<script src="{{static_url}}js/swiper.min.js"></script>
<!-- <script src="{{static_url}}js/prism.js"></script> -->
<script src="{{static_url}}js/translate.js"></script>
<script src="{{static_url}}js/wxshare.js"></script>
<!-- 360自动收录 -->
<script>(function(){var src="https://s.ssl.qhres2.com/ssl/ab77b6ea7f3fbf79.js";var s=document.createElement('script');s.src=src;s.defer=true;document.body.appendChild(s)})();</script>
<!-- 百度自动推送 -->
<script>(function(){var bp=document.createElement('script');var curProtocol=window.location.protocol.split(':')[0];if(curProtocol==='https'){bp.src='https://zz.bdstatic.com/linksubmit/push.js'}else{bp.src='http://push.zhanzhang.baidu.com/push.js'};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bp,s)})();</script>