<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{static_url}}/img/logo.png" />
<meta property="og:url" content="http://{{site.domain}}" />
<meta name="author" content="ChanCMS" />
<link rel="shortcut icon" href="{{static_url}}img/favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="{{static_url}}css/saduo@2.0.1.css?v=2" />
<link rel="stylesheet" href="{{static_url}}css/swiper.min.css?v=2" />
<link rel="stylesheet" href="{{static_url}}css/main.css?v=34" />
<!-- <link rel="stylesheet" href="{{static_url}}css/prism.css" /> -->
<link rel="stylesheet" href="{{static_url}}css/markdown.css" />
<!-- 浏览历史记录模块 -->
<script src="{{static_url}}js/browser-history.js"></script>