<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="format-detection" content="telephone=no" />
<meta property="og:type" content="article" />
{{if site.logo}}
<meta property="og:image" content="http://{{site.domain}}{{site.logo}}" />
{{else}}
<meta property="og:image" content="{{static_url}}img/logo.png" />
{{/if}}
<meta name="author" content="{{site.name}}" />
<meta name="robots" content="index,follow" />
<link rel="shortcut icon" href="{{static_url}}img/favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="{{static_url}}css/saduo@2.0.1.css?v=2" />
<link rel="stylesheet" href="{{static_url}}css/swiper.min.css?v=2" />
<link rel="stylesheet" href="{{static_url}}css/main.css?v=38" />
<link rel="stylesheet" href="{{static_url}}css/markdown.css" />
<script src="{{static_url}}js/browser-history.js"></script>
