{{if nav.length>0}}
<nav class="nav">
    <ul class="flex flex-wrap">
        {{each nav}}
        {{if $value.status == 0}}
        {{if $value.pinyin == 'home'}}
        <li class="nav-item"><a href="/" title="首页">首页</a></li>
        {{else}}
        <li class="nav-item">
            {{if $value.type==0}}
            <a href="{{$value.path}}/index.html" title="{{$value.name}}">{{$value.name}}</a>
            {{else}}
            <a href="{{$value.path}}/page.html" title="{{$value.name}}">{{$value.name}}
            </a>
            {{/if}}
            {{if $value.children && $value.children.length>0}}
            <ul class="sub-nav">
                {{each $value.children}}
                {{if $value.status == 0}}
                <li class="sub-nav-item">
                    {{if $value.type==0}}
                    <a href="{{$value.path}}/index.html" title="{{$value.name}}">{{$value.name}}
                    </a>
                    {{else}}
                    <a href="{{$value.path}}/page.html" title="{{$value.name}}">{{$value.name}}
                    </a>
                    {{/if}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/if}}
        {{/if}}
        {{/each}}
    </ul>
</nav>
<script>
(function() {
    var path = window.location.pathname;
    var items = document.querySelectorAll('.header-wrap .nav-item');
    items.forEach(function(item) {
        var link = item.querySelector('a');
        if (!link) return;
        var href = link.getAttribute('href');
        if (href === '/' && path === '/') {
            item.classList.add('active');
        } else if (href !== '/' && path.indexOf(href.replace('/index.html', '').replace('/page.html', '')) === 0) {
            item.classList.add('active');
        }
    });
})();
</script>
{{/if}}