<div class="flex search-wrap">
  <div class="search flex align-center justify-center">
    <input id="search" class="search-input pl-10 pr-10" type="text" maxlength="10" autocomplete="off"
      placeholder="搜索点什么" />
  </div>
  <button class="ml-5 el-button--primary search-btn" onclick="toSearch()">
    搜索
  </button>
</div>
<style>
  .search-wrap {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .ico-search {
    width: 18px;
    height: 18px;
    display: inline-block;
    color: #d7d7d7;
  }
</style>