<!-- 右侧侧边栏 -->
<div class="list-sidebar">
    <div class="list-sidebar-inner">
        <!-- 2026正规外汇平台排名广告 -->
        <a href="/home/platrange/article-432.html" target="_blank" class="expose-ad-banner">
            <div class="expose-ad-box">
                <p class="expose-ad-line1">怕被外汇黑平台骗</p>
                <p class="expose-ad-line2">查看2026年</p>
                <p class="expose-ad-line3"><span>正规外汇平台排名</span></p>
            </div>
        </a>

        <!-- 标签列表 -->
        <div class="expose-cate-box">
            <div class="expose-cate-title">热门标签</div>
            <p style="line-height: 2;">
                {{each tag}}
                <a class="el-tag mr-5 mb-5" href="/tags/{{$value.name}}/tag.html">{{$value.name}}</a>
                {{/each}}
            </p>
        </div>
    </div>
</div>
