@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/NotoSerifSC-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NotoSerifSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/NotoSerifSC-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/NotoSerifSC-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/NotoSerifSC-Bold.ttf") format("truetype");
}

.page {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page li {
  list-style: none;
}
.page li a,
.page li span,
.page li.current {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s;
}
.page li a {
  background-color: #e5e7eb;
  color: #4b5563;
  text-decoration: none;
}
.page li a:hover {
  background-color: #c9a063;
  color: white;
}
.page li.current {
  background-color: #c9a063;
  color: white;
}
.page li.disabled {
  background-color: #e5e7eb;
  color: #977f7f;
  text-decoration: none;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}
