<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
{{include './common/seo.html'}}
{{include './common/meta.html'}}

</head>
<body class="bg-f8f8f8">
    <!-- 头部 -->
    {{include './common/header.html'}}

    <main class="pt-20 pb-20 flex">
        <div class="main center">
            <div class="expose-layout">
            <div class="expose-main">
            <article class="article-index">
                <div class="bg-fff pd-15 mb-1 f-14 c-999 radius-6">
                    <i class="ico-20 ico-home pos-r t-3"></i>
                    <a href="/">首页</a> /
                    {{each position}}
                    {{if $index < position.length-1}} <a href="{{$value.path}}/index.html">{{$value.name}}</a> /
                        {{else}}
                        <a class="c-666" href="{{$value.path}}/index.html">{{$value.name}}</a>
                        {{/if}}
                        {{/each}}
                </div>

                <div class="bg-fff pl-25 pr-25 pb-25 radius-6 list">
                    <div style="padding-top:20px;">
                        <script>
                        // 注入栏目ID供外汇组件使用
                        window.__forexBrokerCid = '{{cate.id}}';
                        </script>
                        {{include './common/forex-brokers.html'}}
                    </div>
                </div>
            </article>
            </div>
            {{include './common/sidebar.html'}}
            </div>
        </div>
    </main>

    <!-- footer -->
    {{include './common/footer.html'}}

    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}
    {{include './common/js.html'}}
</body>
</html>
