<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
{{include './common/seo.html'}}
{{include './common/meta.html'}}

</head>
<body class="bg-f8f8f8">
    <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="pt-20 pb-20 flex">
        <div class="main center mt-3">
            <div class="expose-layout">
            <div class="expose-main">
            <!-- 最新文章 -->
            <article class="w-full">
                <div class="bg-fff pd-15 mb-1 f-14 c-999 radius-6">
                    <i class="ico-20 ico-home pos-r t-3"></i>
                    <a href="/">首页</a> /
                    {{each position}}
                    {{if $index < position.length-1}} <a href="{{$value.path}}/index.html">{{$value.name}}</a> /
                        {{else}}
                        <a class="c-666" href="{{$value.path}}/index.html">{{$value.name}}</a>
                        {{/if}}
                        {{/each}}
                </div>

                <div class="bg-fff pl-25 pr-25 pb-25 radius-6 list">
                    {{if articleList.list.length>0}}
                    <!-- border-dashed pt-20 pb-20 -->
                    <div class="flex flex-wrap gap-7">
                        {{each articleList.list}}
                        {{if $value.img}}
                        <figure class="flex list-img-item justify-between mt-10 pos-r">
                            <a href="{{$value.path}}/article-{{$value.id}}.html" title="{{$value.title}}">
                                <img class="w-full" src="{{$value.img}}" alt="{{$value.title}}"
                                    title="{{$value.title}}">
                                <figcaption class="overlay flex-end">
                                    <p class="title">{{$value.title}}</p>
                                </figcaption>
                            </a>
                        </figure>
                        {{/if}}
                        {{/each}}
                    </div>

                    {{else}}
                    {{include './common/empty.html'}}
                    {{/if}}
                </div>

                <!-- 分页 -->
                {{if pageHtml}}
                <div class="page mt-1 bg-fff pd-25 flex justify-center  radius-6" id="app">
                    <ul class="overflow-h center list-none" id="page">
                        {{@ pageHtml}}
                    </ul>
                </div>
                {{/if}}
            </article>
            </div>
            {{include './common/sidebar.html'}}
            </div>
        </div>
    </main>

    <!-- footer -->
    {{include './common/footer.html'}}
    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}

    {{include './common/js.html'}}
</body>

</html>