<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
{{include './common/seo.html'}}
{{include './common/meta.html'}}
    <link rel="stylesheet" href="{{static_url}}/css/message.css">

</head>
<body class="bg-f8f8f8 pos-r">
    <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="pt-20 pb-20 flex">
        <div class="main center mt-3 flex gap-20">
            <!-- 最新文章 -->
            <article class="article-index">
                <div class="bg-fff radius-6 pd-25">
                    <header class="border-b pos-r mb-20">
                        <h2 class="f-26 c-252933  bold mt-10">「ONLINE」在线留言</h2>
                    </header>
                    <article class="article-cont f-17 lh-35" id="app">
                        <!-- <form id="feedbackForm">

                            <div class="flex mb-10">
                                <label class="col-6 justify-end" for="category">分类：</label>
                                <select id="category" class="w-full" name="category">
                                    <option value="1">咨询</option>
                                    <option value="2">建议</option>
                                    <option value="3">投诉</option>
                                    <option value="4">其他</option>
                                </select>
                            </div>

                            <div class="flex mb-10">
                                <label class="require col-6 justify-end" for="title">标题：</label>
                                <input type="text" class="w-full" id="title" required name="title">
                            </div>

                            <div class="flex mb-10">
                                <label class="require col-6 justify-end" for="name">姓名：</label>
                                <input type="text" class="w-full" id="name" required name="name">
                            </div>

                            <div class="flex mb-10">
                                <label class="require col-6 justify-end" for="tel">电话：</label>
                                <input type="tel" class="w-full" id="tel" submitForm name="tel">
                            </div>

                            <div class="flex mb-10">
                                <label class="col-6 justify-end" for="wechat">微信：</label>
                                <input type="text" class="w-full" id="wechat" name="wechat">
                            </div>
							
							 <div class="flex mb-10">
                                <label class="col-6 justify-end" for="wechat">公司：</label>
                                <input type="text" class="w-full" id="wechat" name="company">
                            </div>

                            <div class="flex mb-10">
                                <label class="require col-6 justify-end" for="content">描述：</label>
                                <textarea id="content" class="w-full" submitForm name="content"></textarea>
                            </div>

                            <div class="flex">
                                <label class="col-6 justify-end"></label>
                                <div class="w-full"><button type="button" onclick="captcha()">提交</button></div>
                            </div>

                        </form>
 -->

                    </article>
                </div>
            </article>
        </div>
    </main>

    <!-- footer -->
    {{include './common/footer.html'}}
    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}
    <script src="{{static_url}}/js/Chan.umd.js"></script>
    <script>
        CHAN.message('#app');
    </script>

</body>

</html>