<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
{{include './common/seo.html'}}
{{include './common/meta.html'}}
</head>

<body class="bg-f8f8f8 pos-r">
    {{include './common/header.html'}}

    <main class="pt-20 pb-20 flex">
        <div class="main center mt-3 flex gap-20">
            <article class="article-index">
                <div class="bg-fff radius-6 pd-25 content">
                    {{if article?.content}}
                    <header class="border-b pos-r">
                        <h2 class="f-26 c-252933 bold mt-10">{{article.title}}</h2>
                        <p class="f-12 c-999 mt-5 mb-26">
                            <span>
                                <i class="ico-20 ico-time pos-r t-4"></i> {{ dateFormat(article.updatedAt, 'YYYY-MM-DD HH:mm:ss') }}
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> {{article.author || site.name}}
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（{{article.pv || 0}}）
                            </span>
                        </p>
                    </header>
                    <article id="article" class="article-cont f-17 lh-35">
                        <div class="markdown-body">{{@ renderMarkdown(article.content) }}</div>
                    </article>
                    {{else}}
                    <div class="mt-35 mb-35">
                        <div class="text-c pd-50">
                            <i class="ico-80 ico-doc pos-r t-5"></i>
                            <p class="f-18 c-666 mt-20">暂无专题内容</p>
                            <p class="f-14 c-999 mt-10">当前专题栏目还没有发布任何内容，请稍后再来查看</p>
                            <a href="/" class="btn-primary mt-20 inline-block">返回首页</a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </article>
        </div>
    </main>

    {{include './common/footer.html'}}
    {{include './common/wap-nav.html'}}
    {{include './common/js.html'}}

</body>

</html>